<h1>{{title}}</h1>
<div id="las coasa">
  <ul>
    <p>Descripcion {{insumo.descripcion}}</p>
    <p>Unidad {{insumo.unidad}}</p>
    <p>Cantidad {{insumo.cantidad}}</p>
    <p>Cantidad Minima {{insumo.cantMin}}</p>
  </ul>
  <br>
  <a href="/insumos/{{insumo.id}}/edit">Editar</a>
  <br>
  <a href="/insumos/new">Nuevo</a>


</div>
