extends layout

block actions
  +linkButton('/asegurados/', 'lista')
  +actionButtons(asegurado._id, ['edit', 'delete'])

block content
  h1= title

  ul.list-group
    li.list-group-item
      strong= 'Nombre: '
      = ' ' + asegurado.nombres

    li.list-group-item
      strong= 'Apellidos: '
      = ' ' + asegurado.apellidos

    li.list-group-item
      strong= 'C.I.: '
      = ' ' + asegurado.ci

    li.list-group-item
      strong= 'Direccion: '
      = ' ' + asegurado.direccion

    li.list-group-item
      strong= 'Edad: '
      = ' ' + asegurado.edad() + ' años'

    li.list-group-item
      strong Telefonos
      ul
        each tel in asegurado.telefonos
          li= tel
